.gray-boxed-icon-button {
    height:40px;
    width:40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eef0f2;
    border:1px solid transparent;
    &:hover {
        i {
            color:#000;
        }
    }
    i {
        font-size: 15px;
        color:#676a79;
    }
}

.badge {
    font-size: 13px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 400;
    &__red {
        color:#d6293e;
        background-color: #d6293e1a;
    }
}

.button {
    &__blue {
        padding: 4px 12.8px;
        border-radius: 3px;
        background-color: #0f6fec;
        border:1px solid #0f6fec;
        color:#fff;
        font-size: 13px;
        text-decoration: none;
        transition:all ease 0.5s;
        &--light {
            padding: 4px 12.8px;
            border-radius: 3px;
            background-color: #0f6fec1a;
            border:1px solid #0f6fec1a;
            color:#0f6fec;
            font-size: 13px;
            text-decoration: none;
            transition:all ease 0.5s;
            &:hover {
                background-color: #0f6fec;
                border-color:#0f6fec;
                color:#fff;
                transition: all ease .5s;
            }
        }
        &:hover {
            background-color: #0d5ec9;
            border-color:#0d5ec9;
            transition:all ease 0.5s;
        }
    }
    &__red {
        padding: 4px 12.8px;
        border-radius: 3px;
        background-color: #d6293e1a;
        border:1px solid #d6293e1a;
        color:#d6293e;
        font-size: 13px;
        text-decoration: none;
        transition:all ease 0.5s;
        &:hover {
            background-color: #d6293e;
            border-color:#d6293e;
            transition:all ease 0.5s;
            color:#fff;
        }
    }
}